.container {
  width: 400px;
  height: 400px;
  background-color: rgb(94, 209, 146);
}

.cam {
  width: 380px;
  height: 380px;
  background-color: rgb(42, 136, 165);
}

.name {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
